body{
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0 13%;
    background-color: #e5e5e5;
    font-size: 20px;
}
header, section,footer{
    background-color: white;
    padding: 0 9%;
}
section{
    max-width: 1440px;
}
p,h1,h2,h3{
    margin: 0;

}
header{
    display: flex;
    justify-content:space-between ;
    align-items: stretch;
    flex-wrap: wrap;
}
.newFilms{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}
.newFilms>h2, .genres>h2{
    width: 100%;
}

.new>img{
    border-radius: 5px;
}
.new>p{
    width: 280px;
}

.genres{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: center;
}

.genres>div{
    height: 208px;
    width: 280px;
    color: white;
    border-radius: 5px;
}
.genres>div>p{
    padding-top: 80px;
}
.comedy{
    background: linear-gradient(136.27deg, #F2C94C 8.44%, #F29A4A 91.36%);
}

.dramas{
    background: linear-gradient(136.27deg, #F2994A 8.44%, #EB5757 91.36%);
}

.fantastic{
    background: linear-gradient(136.27deg, #56CCF2 8.44%, #2F80ED 91.36%);;
}

.horrorses{
    background: linear-gradient(136.27deg, #828282 8.44%, #333333 91.36%);;
}